<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chaofeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,160}}</string>
                <key>sourceSize</key>
                <string>{266,160}</string>
            </dict>
            <key>chaofeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{245,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,134}}</string>
                <key>sourceSize</key>
                <string>{245,134}</string>
            </dict>
            <key>chaofeng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{235,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,120}}</string>
                <key>sourceSize</key>
                <string>{235,120}</string>
            </dict>
            <key>yinyue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{91,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,159}}</string>
                <key>sourceSize</key>
                <string>{91,159}</string>
            </dict>
            <key>yinyue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,300},{99,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,113}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
            <key>yinyue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,300},{117,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,148}}</string>
                <key>sourceSize</key>
                <string>{117,148}</string>
            </dict>
            <key>yuyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,124},{210,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,163}}</string>
                <key>sourceSize</key>
                <string>{210,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chaofeng.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:849af7135a4ecafc9d76c72dc377d47a:1/1$</string>
            <key>textureFileName</key>
            <string>chaofeng.png</string>
        </dict>
    </dict>
</plist>
