<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baozha_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,576},{128,129}}</string>
			<key>offset</key>
			<string>{4,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,10},{128,129}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,316},{140,141}}</string>
			<key>offset</key>
			<string>{2,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,2},{140,141}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,446},{128,129}}</string>
			<key>offset</key>
			<string>{1,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,10},{128,129}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,458},{128,129}}</string>
			<key>offset</key>
			<string>{5,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,9},{128,129}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,446},{128,129}}</string>
			<key>offset</key>
			<string>{5,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,7},{128,129}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,316},{128,129}}</string>
			<key>offset</key>
			<string>{2,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,5},{128,129}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,576},{126,125}}</string>
			<key>offset</key>
			<string>{3,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,9},{126,125}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,159},{156,155}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{156,155}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,159},{156,155}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{156,155}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,159},{156,155}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{156,155}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,2},{156,155}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{156,155}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,2},{156,155}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,155}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{156,155}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{156,155}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,588},{126,125}}</string>
			<key>offset</key>
			<string>{-5,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,8},{126,125}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
		<key>baozha_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,316},{128,129}}</string>
			<key>offset</key>
			<string>{-5,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,10},{128,129}}</string>
			<key>sourceSize</key>
			<string>{158,161}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>monsterDie.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:38d65ab0d7876e7e28de4a4a71620e97:1/1$</string>
		<key>textureFileName</key>
		<string>monsterDie.png</string>
	</dict>
</dict>
</plist>
