<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,736},{74,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{74,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,968},{118,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,848},{118,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,486},{124,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,118}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,728},{122,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,118}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,244},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,366},{124,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,606},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,124},{126,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,118}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>cheng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,368}}</string>
                <key>sourceSize</key>
                <string>{432,368}</string>
            </dict>
            <key>cheng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{410,360}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{410,360}}</string>
                <key>sourceSize</key>
                <string>{432,368}</string>
            </dict>
            <key>cheng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,398},{406,336}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{406,336}}</string>
                <key>sourceSize</key>
                <string>{432,368}</string>
            </dict>
            <key>lan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{412,394}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{412,394}}</string>
                <key>sourceSize</key>
                <string>{416,400}</string>
            </dict>
            <key>lan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{378,388}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{378,388}}</string>
                <key>sourceSize</key>
                <string>{416,400}</string>
            </dict>
            <key>lan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,736},{364,348}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{364,348}}</string>
                <key>sourceSize</key>
                <string>{416,400}</string>
            </dict>
            <key>zi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{383,388}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{383,388}}</string>
                <key>sourceSize</key>
                <string>{383,392}</string>
            </dict>
            <key>zi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1119},{309,376}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{309,376}}</string>
                <key>sourceSize</key>
                <string>{383,392}</string>
            </dict>
            <key>zi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1102},{301,360}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{301,360}}</string>
                <key>sourceSize</key>
                <string>{383,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Untitled.png</string>
            <key>size</key>
            <string>{1013,1509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e74e8cb30ae96b5ecfef3f3a88573590:1/1$</string>
            <key>textureFileName</key>
            <string>Untitled.png</string>
        </dict>
    </dict>
</plist>
